<div
  class="p-5 bg-white dark:bg-gray-800 rounded-xl shadow hover:shadow-lg hover:shadow-primary/25 flex items-center justify-between transition duration-300"
>
  <div>
    <h3 class="text-sm text-gray-500 dark:text-gray-400 mb-1">{{ title }}</h3>
    <p class="text-3xl font-semibold" [ngClass]="color">{{ value }}</p>
  </div>

  @if (icon) {
    <div
      class="w-12 h-12 flex items-center justify-center rounded-full bg-gray-100 dark:bg-gray-700 text-2xl"
    >
      {{ icon }}
    </div>
  }
</div>
